<div class="b-tsd-user">
  <div class="b-userbox">
    {% if current_customer %}
     <a class="b-link-perscab" href="/customers/{{current_customer.id}}/dashboard">
         {{current_customer.title}}
     </a> <i>|</i> <a class="b-link-exit" href="/logout">{{'system-template-11.user_nav.exit' | ft}}</a>
    {% else %}
      <a class="b-link-reg" href="/customers/new">{{'system-template-11.user_nav.registration' | ft}}</a></li>
      <i>|</i>
      <div class="dropdown">
          <a class="b-link-enter" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'system-template-11.user_nav.enter' | ft}}
          </a>
          <div class="dropdown-menu">
            <div class="b-popup-enter"><div class="b-popup-enter-inner">
               <form action="/customer_sessions" method="post">
                {{auth_token_tag}}
                <div class="b-inp">
                    <input type="text" placeholder="{{'system-template-11.auth_window.login_field' | ft}}" name="customer_session[email]" tabindex="1" size="30">
                </div>
                <div class="clearfix">
                    <div class="b-inp b-inp-pass">
                        <input type="password" placeholder="{{'system-template-11.auth_window.password_field' | ft}}" name="customer_session[password]" tabindex="2" size="30">
                    </div>
                    <button class="b-btn-send">{{'system-template-11.auth_window.enter' | ft}}</button>
                </div>    
              </form>
            </div></div>
          </div>
      </div>
    {% endif %}
  </div>
</div>
