{% assign menuItems = 'menuCatalogTemplateEleven' | menu_by_code %}
{% for menuItem in menuItems %}
{% if menuItem.childrens %}
<li class="dropdown"><a href="{{menuItem.url}}" {{menuItem.html_attribute}} style="{{menuItem.css_style}}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menuItem.name}}</a>
    <div class="b-inner-level dropdown-menu">
        <ul>
            {% for subMenuItem in menuItem.childrens %}
            <li><a href="{{subMenuItem.url}}" target="{{subMenuItem.target_type}}" {{subMenuItem.html_attribute}}
                   style="{{subMenuItem.css_style}}">{{subMenuItem.name}}</a></li>
            {% endfor %}
        </ul>
    </div>    
</li>
{% else %}
<li>
    <a href="{{menuItem.url}}" target="{{menuItem.target_type}}" {{menuItem.html_attribute}}
       style="{{menuItem.css_style}}">{{menuItem.name}}</a>
</li>
{% endif %}
{% endfor %}
