<div class="b-yel-cat">
    {% assign menuItems = 'menuTileTemplateEleven' | menu_by_code %}
    <ul class="b-yel-cat-list">
        {% for menuItem in menuItems %}
        <li class="b-item"><a href="{{menuItem.url}}"  target="{{menuItem.target_type}}" {{menuItem.html_attribute}} style="{{menuItem.css_style}}">
            <span class="b-pic"><i>
                <img src="{{menuItem.icon}}" alt="">
            </i></span>
            <span class="b-txt"><i>{{menuItem.name}}</i></span>
        </a></li>
        {% endfor %}
    </ul>
</div>
