<div class="b-msd-contact-inner">
    <div class="b-phone">
        {% assign phoneCode = current_region.contact.phone | slice: 0, 8 %}
        {% assign phoneNumer = current_region.contact.phone | slice: 8, 16 %}
        {{ codePhone }}
        <a href="tel:{{current_region.contact.phone}}"><span>{{phoneCode}}</span> {{phoneNumer}}</a>
    </div>
    <div class="b-order-call">
        <a href="#" data-toggle="modal" data-target="#default-callback-request" class="b-callback-link" href="">{{'system-template-11.layouts.callback' | ft}}</a>
    </div>
</div>
