<div class="b-subpd">
    <div class="b-subpd-toggler">{{'system-template-11.layouts.ico_menu_toggler' | ft}}</div>
    {% assign menuItems = 'menuIcoTemplateEleven' | menu_by_code %}
    <ul class="b-list-subpd">
        {% for menuItem in menuItems %}
            <li>
                <span><i>
                    <a href="{{menuItem.url}}" target="{{menuItem.target_type}}" {{menuItem.html_attribute}} style="{{menuItem.css_style}}">
                        <img src="{{menuItem.icon}}" alt="">    
                    </a>
                </i></span>
            </li>
        {% endfor %}
    </ul>
</div>
